{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Recruit_home</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Header-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/login-full-page-bs4.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/MUSA_carousel-product-cart-slider-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/MUSA_carousel-product-cart-slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Pretty-Registration-Form.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
</head>

<body>

{% block content %}
{% endblock %}

	<script src="{% static 'assets/js/jquery.min.js ' %}"></script>
	    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
	    <script src="{% static 'assets/js/login-full-page-bs4.js' %}"></script>
	    <script src="{% static 'assets/js/login-full-page-bs4-1.js' %}">
    	
    </script>

</body>
