{% load static %}
{% static 'images' as baseUrl %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Recruit_home</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Header-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/MUSA_carousel-product-cart-slider-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/MUSA_carousel-product-cart-slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Profile-Card.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'assets/css/project-card.css' %}"> -->
    <link rel="stylesheet" href="{% static 'assets/css/jobinfo_page.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/poststatus_page.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'ionicons/css/ionicons.css' %}">
</head>

<body>
    <header class="header-blue" style="background: rgb(24, 78, 142);">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container-fluid" style="max-width: 1200px"><a class="navbar-brand" href="/">Company Name</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/joblist">Jobs</a></li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">Dropdown </a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </li>
                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group mb-0"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                    </form>
                    {% if not user.is_authenticated %}
                    <span class="navbar-text"> <a class="login" href="login">Log In</a></span><a class="btn btn-light action-button" role="button" href="register">Sign Up</a>
                    {% endif %}

                    {% if user.is_authenticated %}
                     <span class="navbar-text"> <a class="login" href="logout">Log out</a></span>
                    <a class="btn btn-light action-button" role="button" href="/profile">Hello, {{user.first_name}}</a>

                    {% endif %}
                </div>
            </div>
        </nav>
        {% block jumbotron %}
        {% endblock %}
    </header>

    <br><br>
    {% block content %}
    {% endblock %}

    {% block top_projects %}
    {% endblock %}

    {% block profile_info %}
    {% endblock %}

    {% block joblist %}
    {% endblock %}

    {% block jobinfo %}
    {% endblock %}

    {% block jobpost_status %}
    {% endblock %}
    <br><br>

    
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Company Name</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Company Name © 2017</p>
        </div>
    </footer>

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>