{% extends 'base.html' %}
{% block jobinfo %}
{% load humanize %}
    <div class="container">
        <div style="max-width: 1080px;background-color: #FFFFFF;margin: 20px auto;padding: 20px;box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important">
            <h1 style="font-size: 1.75rem;">{{content.position}}</h1><span>{{content.location}}</span><br>
            <span>{{content.employment_type}}</span><br>
            <span style="float: right;">{{content.date|naturaltime}}</span><span>${{content.pay}}</span>
            <hr>
            <br>{{content.desc|safe}}<br><br>
        </div>
    </div>
{% endblock %}