
{% extends 'base.html' %}



{% block joblist %}

{% load humanize %}
   
    <div class="container" style="margin: 20px auto;">
        <div class="row">
            <div class="col"><div class="input-group">
  <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Button</button>
  </div>
</div></div>
            <div class="col"><div class="input-group">
  <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Button</button>
  </div>
</div></div>
            <div class="col"><div class="input-group">
  <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Button</button>
  </div>
</div></div>
        </div>
            
           
            <div class="container">
            {% for job in jobs %}
                {% if forloop.first %}<div class="row">{% endif %}
                <div class = "col-md-3">
                    <div class="card border-white border rounded shadow-lg" style="width: 230px;height: 340px;margin: 10px;margin-left: 8px;margin-right: 8px;">
                        <div class="card-body" style="width: 205px;height: 365px;padding: 0px;margin: 10px;"><img src = "{{job.img.url}}" class="d-lg-flex m-auto align-items-lg-center" style="width: 205px;height: 115.31px;margin-left: 0px;padding-left: 0px;">
                            <h4 class="card-title" style="margin-top: 5px;font-size: 18px;"><a href = "joblist/{{job.id}}">{{job.position}}</a></h4><span style="float: right;color: #6c757d!important;font-size: 12px;">{{job.date|naturaltime|capfirst}}</span>
                            <h6 class="text-muted card-subtitle mb-2" style="margin-top: 0px;font-size: 15px;">{{job.institution}}</h6>
                            <h6 class="text-muted card-subtitle mb-2" style="margin-top: 0px;font-size: 13px;">{{job.location}}</h6>
                            <h6 class="text-muted card-subtitle mb-2" style="margin-top: 0px;font-size: 12px;">{{job.employment_type}}</h6>
                            <h6 class="text-muted card-subtitle mb-2" style="margin-top: 0px;font-size: 12px;">${{job.pay}} (Employer est.)</h6>
                            <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background-color: #21a9af;border-color: rgb(255, 255, 255);/*border-top-color: rgb(255,;*//*border-right-color: 255,;*//*border-bottom-color: 255);*//*border-left-color: 255,;*/">Apply Now</button></div>
                        </div>
                    </div>
                </div>
                 {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
                 {% if forloop.last %}</div>{% endif %}
             {% endfor %}
            </div>
            
    </div>
{% endblock %}
