{% extends 'base.html' %}
{% load static %}

    
    {% block profile_info %}

     <div class="container">
        <div id="btn-container" style="box-shadow: 0 1rem 3rem rgba(0,0,0,.175);background-color: #FFFFFF;max-width: 1080px;">
            <div class="row">
                <div class="col-md-6">
                    <div id="btn-container-1"><button onclick="window.location.href = '/job_post'" class="btn btn-primary" data-bss-hover-animate="pulse" id="jobpost-btn" type="button">+</button>
                        <p>Post a Job</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="btn-container-1"><button onclick="window.location.href = '/profile/post_status/{{user.id}}'" class="btn btn-primary" data-bss-hover-animate="pulse" id="checkstatus-btn" type="button" style="background-color: transparent;color: #184E8E;">more</button>
                        <p>Check status of Jobs already posted</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container profile-info">
        <div class="text-center profile-card">
            <div class="profile-card-img" style="height:150px;background-size:cover;">
                <a href="edit">
                <button class="btn btn-link border-pretty" style="color: #ce9c95;float: right;border-color: rgb(24, 78, 142);color: rgb(24, 78, 142);margin: 10px;" type="button"><span>Edit&nbsp;</span><i class="icon ion-android-arrow-forward"></i></button>
                </a>
            </div>
            <div><img class="rounded-circle" style="margin-top:-70px;" src=" {{user.profilepic.profile_pic.url}}" height="150px" width="150px">
            <a href="edit_pic">
            <button class="btn btn-link border-pretty" style="color: #ce9c95;/*float: right;*/border-color: rgb(24, 78, 142);color: rgb(24, 78, 142);/*margin: 0px;*/" type="button"><span>+</span></button>
            </a>
                <h3>{{user.first_name}} {{user.last_name}}</h3>
                <p style="padding: 20px;padding-bottom: 0;padding-top: 5px;">{{user.profile.desc}}</p>
            </div>
            <div class="row" style="padding:0;padding-bottom:10px;padding-top:20px;">
                <div class="col-md-6" style="padding: 0 50px;">
                    <p class="text-right" style="text-align: right!important;"><strong>{{user.profile.designation}}</strong></p>
                    <p class="text-nowrap text-right" style="text-align: right!important;">{{user.email}}</p>
                </div>
                <div class="col-md-6" style="padding: 0 50px;">
                    <p class="text-left">{{user.profile.addr}}</p>
                    <p class="text-left">{{user.profile.link}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <a href="edit_about">
        <button class="btn btn-link border-pretty" style="color: #ce9c95;float: right;border-color: rgb(24, 78, 142);color: rgb(24, 78, 142);margin: 10px;margin-right: 27px;" type="button"><span>Edit&nbsp;</span><i class="icon ion-android-arrow-forward"></i></button>
        </a>

        <div id = "profile-about-container">
            <h3 class="text-center">About</h3>
            <p><br><br>{{user.profileabout.about}}<br><br></p>
        </div>
    </div>
    {% endblock %}
   