{% extends 'base.html' %}
{% load static %}

    
    {% block profile_info %}
    <div class="container profile-info">
        <div class="text-center profile-card" style="margin: 15px;background-color: #fafafa;box-shadow: 0 0 3px #b3b3b3;">
            <div class="profile-card-img" style="height:150px;background-size:cover;">
                <a href="edit">
                <button class="btn btn-link border-pretty" style="color: #ce9c95;float: right;border-color: rgb(24, 78, 142);color: rgb(24, 78, 142);margin: 10px;" type="button"><span>Edit&nbsp;</span><i class="icon ion-android-arrow-forward"></i></button>
                </a>
            </div>
            <div><img class="rounded-circle" style="margin-top:-70px;" src=" {{user.profilepic.profile_pic.url}}" height="150px" width="150px">
            <a href="edit_pic">
            <button class="btn btn-link border-pretty" style="color: #ce9c95;/*float: right;*/border-color: rgb(24, 78, 142);color: rgb(24, 78, 142);/*margin: 0px;*/" type="button"><span>+</span></button>
            </a>
                <h3>{{user.first_name}} {{user.last_name}}</h3>
                <p style="padding: 20px;padding-bottom: 0;padding-top: 5px;">{{user.profile.desc}}</p>
            </div>
            <div class="row" style="padding:0;padding-bottom:10px;padding-top:20px;">
                <div class="col-md-6" style="padding: 0 50px;">
                    <p class="text-right" style="text-align: right!important;"><strong>{{user.profile.designation}}</strong></p>
                    <p class="text-nowrap text-right" style="text-align: right!important;">{{user.email}}</p>
                </div>
                <div class="col-md-6" style="padding: 0 50px;">
                    <p class="text-left">{{user.profile.addr}}</p>
                    <p class="text-left">{{user.profile.link}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <a href="edit_about">
        <button class="btn btn-link border-pretty" style="color: #ce9c95;float: right;border-color: rgb(24, 78, 142);color: rgb(24, 78, 142);margin: 10px;margin-right: 27px;" type="button"><span>Edit&nbsp;</span><i class="icon ion-android-arrow-forward"></i></button>
        </a>

        <div style="margin: 15px;padding: 0 20px;background-color: #fafafa;box-shadow: 0 0 3px #b3b3b3;">
            <h3 class="text-center">About</h3>
            <p><br><br>{{user.profileabout.about}}<br><br></p>
        </div>
    </div>
    {% endblock %}
   