a {
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.applications {
	background-color: #FFFFFF;
	box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
	max-width: 1080px;
	padding: 15px;
	
}
.applications .application {
	border-style: solid;
	border-color: #EEEEEE;
	padding: 15px;
	max-width: 700px;
	margin: 10px auto;
}

.applications .application ul button {
	border-style: none;
	font-weight: 400;
	font-size: 18px;
	color: #212529;
	text-align: inherit;
	width: 100%;
	height: 35px;
	background-color: transparent;
	padding-left: 20px;
}

.applications .application ul button:hover{
	background-color: #EFEFEF;
}

.date {
	float: right;
	color: grey;
	font-size: 12pt;
}

/*.applications .application button{
	float: right;
	position: absolute;
	bottom: 68px;
	right: 10px;
	left: 100px;
	min-width: 80px;
	min-height: 110px;
	background-color: transparent;
	border-color: #EEEEEE;
	border-width: 3px;
	border-radius: 0;
}

.applications .application button:hover{
	background-color: #EEEEEE
}
*/
.applications .application span{
	margin-right: 20px;
}
.applications .application span p{
	font-size: 12pt;
	position: relative;
	bottom: 3px;
	left: 2px;
	display: inline;
}

.nav{
	float: right;
}

.dropdown-toggle::after{
	display: none;
}

#delete{
	color: red;
}